<nav class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="/main" routerLinkActive="active"><img src="../../assets/images/user.png"> USER MANAGEMENT</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" routerLink="/address" routerLinkActive="active"><img src="../../assets/images/address.png"> ADDRESS MANAGEMENT</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active"><img src="../../assets/images/phone.png"> CONTACT</a>
    </li>
</nav>