.user-detail{
    background-color: white;
    border-radius: 5px;
    
}
.user-detail p{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
/* table tr{
    display: grid;
    grid-template-columns: auto auto auto;
} */
table a{
    color: blue;
    cursor: pointer;
}
table a:hover{
    color: blue;
    text-decoration: underline;
}
.form-edit{
    background-color: #F6F7F9;
}
.form-edit span{
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.btn-action{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 2px;
    width: 100px;
}
.btn-save{
    background-color: #4267B2;
}
.update-address{
    display: flex;
    justify-content: center;
    color: blue;
    cursor: pointer;
}