<div class="addresses-list">
        <p>ADDRESSES LIST</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address type</th>
                    <th>Street</th>
                    <th>District</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of info?.userAddress | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: info?.pagination?.totalItems}">
                        <td>{{ x?.userId }}</td>
                        <td>{{ x?.userName }}</td>
                        <td>{{ x?.addressType }}</td>
                        <td>{{ x?.street }}</td>
                        <td>{{ x?.district }}</td>
                        <td>{{ x?.city }}</td>
                        <td>{{ x?.country }}</td>
                    <td>
                        <ngbd-modal-basic [modalUDId]="userAddressId" (click)="edit(x.userId)"></ngbd-modal-basic>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
</div>

